.fixed-search {
    position: fixed;
    margin: 0 auto;
    left: 20%;
    right: 15%;
    top: 2%;

    ion-searchbar {
        --background: linear-gradient(90deg, #00CCFF, #FF00CC);
        color: #fff;
        width: 90%;
    }
}

.container-vehiculos {
    height: 110%;
    width: 100%;
    font-size: 18px;
    --background: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;

    ion-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        background: none;
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;

        ion-item {
            --background: none;
            width: 100%;

            .btn-item {
                width: 100%;
                margin: 0 auto;
                width: 100%;
                --background: linear-gradient(90deg, #00CCFF, #FF00CC);
                color: #fff;
                border: 1px solid #fff;
                border-radius: 10px;
                margin-bottom: 10px;

                ion-icon {
                    margin-right: 5px;
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    color: #fff;
                }


                ion-label {
                    text-align: center;

                    h2 {
                        font-size: 18px;
                        color: #fff;
                    }

                    p {
                        font-size: 14px;
                        color: #fff;
                    }
                }

                h1 {
                    padding: 20px;
                    color: #fff;
                    border-radius: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;

                    .title {
                        font-size: 30px;
                        font-weight: 800;
                    }
                }
            }

            ion-button.btn-item:hover {
                --background: #fff;
                color: #000;
            }
        }
    }

    .container-skeleton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        background: none;
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;

        .load-item {
            --background: none;
            color: #fff;
            border-radius: 10px;
            margin-bottom: 10px;

            .content-item {
                --background: linear-gradient(90deg, #00CCFF, #FF00CC);

                ion-skeleton-text {
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                }

                ion-label {
                    h2 {
                        font-size: 25px;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
}