<ion-content class="fullscreen-bg">
  <div class="background-image"></div>
  <ion-card class="container-card">
    <ion-card-content class="card-content">
      <div class="container-title">
        <h1 class="title show">Bienvenido a Tellevo <ion-icon name="car-sport-outline"></ion-icon> <br> Donde Estes A
          Donde
          Quieras!
        </h1>
      </div>

      <app-slide [slides]="slides"></app-slide>

      <div class="container-button">
        <ion-button class="move-button" (click)="moveButton()">
          <h6>Comenzar</h6><ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>